# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
# github private key
PRIVATE_KEY=
# github
WEBHOOK_SECRET=
# github
GITHUB_CLIENT_ID=
# github
GITHUB_CLIENT_SECRET=

# custom
REPO= "rpwhale";
OWNER= "LucasJC";
BOT_USER= "rpwhale-bot-v2[bot]";
DONATIONS_ACCOUNT= "glrrk.wam";
